{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Treadmill Deals!</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Treadmill Deals</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Privacy Policy</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Treadmills Deals</h3>
            <p>Find the lowest Treadmill prices online!</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/2.jpg' %}')">
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/3.jpg' %}')">
          
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    
    
    <!-- Portfolio Section -->
    <h1 class="my-4">Treadmill Deals...</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3fpnn23"><img class="card-img-top" src="{% static 'affiliate/images/t0.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3fpnn23">Folding Treadmills</a>
            </h4>
            <p class="card-text">Enjoy reduced motor noise and self-cooling technology with a powerful 1.5 HP motor with the 40.95L x 14.04W belt, allowing walkers of all heights to reach and break their daily step target with ease.</p>
            <a href="https://amzn.to/3fpnn23" class="btn btn-secondary">$309.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3b3mfxH"><img class="card-img-top" src="{% static 'affiliate/images/t1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3b3mfxH">ANCHEER Treadmill</a>
            </h4>
            <p class="card-text">Digital Lcd Monitor & Pulse Grip: Monitor the heart and pulse rate, different progress in time, speed, distance, heart rate and calories burned, included with 12 workout programs that keep you challenged with your fitness goals.</p>
            <a href="https://amzn.to/3b3mfxH" class="btn btn-secondary">$309.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2W7n6cw"><img class="card-img-top" src="{% static 'affiliate/images/t2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2W7n6cw">Bowflex BXT116 Treadmill</a>
            </h4>
            <p class="card-text">The integrated calorie-focused burn rate console displays your calories burned per minute pushing you to go further and faster in less time. 7.5" full color, back-lit LCD screen with 9 simplified 'push and go' intuitive workout programs. Create and save workouts 'on the fly' with real-time custom programming.</p>
            <a href="https://amzn.to/2W7n6cw" class="btn btn-secondary">$1599.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2Wyyltv"><img class="card-img-top" src="{% static 'affiliate/images/t3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2Wyyltv">ASUNA Space Saving Treadmill - 8730/G</a>
            </h4>
            <p class="card-text">Save space and pack a powerful workout with the Slim Folding Motorized Treadmill by Asuna. Supporting up to 220lbs, this space-saving treadmill is equipped with shock absorption technology that reduces impact on your joints when you exercise.</p>
            <a href="https://amzn.to/2Wyyltv" class="btn btn-secondary">$699.98</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3fpnn23"><img class="card-img-top" src="{% static 'affiliate/images/t0.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3fpnn23">Folding Treadmills</a>
            </h4>
            <p class="card-text">Enjoy reduced motor noise and self-cooling technology with a powerful 1.5 HP motor with the 40.95L x 14.04W belt, allowing walkers of all heights to reach and break their daily step target with ease.</p>
            <a href="https://amzn.to/3fpnn23" class="btn btn-secondary">$309.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3b3mfxH"><img class="card-img-top" src="{% static 'affiliate/images/t1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3b3mfxH">ANCHEER Treadmill</a>
            </h4>
            <p class="card-text">Digital Lcd Monitor & Pulse Grip: Monitor the heart and pulse rate, different progress in time, speed, distance, heart rate and calories burned, included with 12 workout programs that keep you challenged with your fitness goals.</p>
            <a href="https://amzn.to/3b3mfxH" class="btn btn-secondary">$309.99</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

	</br>
    <hr>
    </br></br>

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
       <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "retex10-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "jogging";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "7b0f43636b126326f594ea09fbd60e81";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
      <div class="col-lg-6">
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "retex10-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "treadmills";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "7b0f43636b126326f594ea09fbd60e81";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <!-- /.row -->

</br>
    <hr>
</br>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Jogging in your own home has never been easier! We searched all of Amazon.com for the lowest treadmill prices....</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.com/s?k=treadmills&i=sporting&camp=1789&creative=9325&linkCode=ur2&linkId=710ee3b7ee736663b2ec92fb20bd2755&tag=retex10-20">Shop Treadmills On Amazon</a>
      </div>
    </div>
<br/><br/>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
